<div>
  <!--  <div id="logo_fonda"></div> -->
    <div class="imagslide">
        <div id="imagen1">
            </div>
    </div>
<div id="fonda_mental1">
    
    <p> 
    Fonda Mental es un proyecto que abarca 3 ramas de la música electrónica: </p>
        <ul>
            <li>La producción de eventos</li>
            <li>Un grupo de djs que tocan bajo nuestro label</li>
            <li>Las tendencias</li>
        </ul>
     
    <p>
    La idea original fue concebida en el 2015 por un francés y un chileno. Ambos amantes
    de la música techno (y buenos espectadores de este tipo de eventos) no encontraban en
    Chile creaciones que salieran de lo común. En ese tiempo, y luego de varias
    conversaciones, quisieron fusionar sus experiencias nocturnas -latinoamericana y
    europea- para crear un concepto innovador en la escena musical del país.
    <br>
    Estas producciones de eventos se crearon con una finalidad clara: salir de los
    parámetros tradicionales y democratizar el techno. La idea era (y es) que llegue a todas
    las clases sociales chilenas e internacionales, destacar a diversos artistas, mezclar ramas
    de estilo musical y crear un concepto propio, diverso y cosmopolita en cada
    oportunidad. </p>

    </div>
    <div id="imagen2">
    </div>

    <div id="fonda_mental2">
    <p>
    La idea es desafiar a cada DJ a sobrepasar los límites de su técnica y al público a romper
    sus propios esquemas. Fonda Mental quiere demostrar que el techno no es solamente
    oscuridad, sino también alegría y creación; donde se combina el negro con los colores y
    la agresividad con el amor para que los bajos fondos estén en plena luz. <br>
    El origen del nombre proviene de la palabra en francés fondamental (en español
    fundamental), significado que representa la importancia de este proyecto como aporte a
    la escena electrónica.
    “Fonda” es la fiesta típica del folclore chileno y “Mental” tiene que ver con el viaje
    interior que provoca este estilo musical.
    La combinación de estas dos palabras encaja de manera perfecta con el objetivo de
    generar identidad a la música electrónica underground en Chile.</p>
    <br></div>
    
<div id="imagen3"></div>
    
    
</div>

