<div id="fonda_mental3">
    <div id="imagenfunda">
    </div>
    <h1>Quiénes Somos</h1>
    <%# <p>Un grupo de todas partes del mundo. Diferentes orígenes, idiomas y gustos: Nos une el
amor al techno, la creación y la buena onda.</p> %>
        <div class="textofunda">
            <p id="tfund1"> <strong style="color: #f2d989;">Antoine Jeanneau</strong>, de origen francés y de residencia en Chile hace 3 años, ha logrado mimetizarse con el pueblo
                nacional en un corto tiempo. Con su gran conocimiento y experiencia de la escena electrónica europea desea
                entregar al país la verdadera forma de vivir el techno underground. Dado su extensa vida nocturna en Paris
                y Berlín desde su adolescencia y su cercanía con varios DJs y productores, Antoine cuenta con facultad de
                opinión fina y precisa para elegir artistas en base a sus técnicas e identidad musical. Es el director ejecutivo
                y artístico del proyecto.
            </p>
            <p id="tfund2">
                <strong style="color: #f2d989;">Javier Salinas</strong>, chileno, gran orador, fanático de las fiestas como pocos; su lado sociable no tiene ninguna comparación.
                Ingeniero de formación académica, aporta al proyecto sus habilidades organizacionales y otorga una estructura
                formal y ordenada. Además por ser chileno, conoce bien los códigos del país, relacionando público y profesionales
                del medio. Javier es actualmente el manager y representante de Fonda Mental Records y de sus DJs residentes
            </p>
        </div>
</div>