<div id="fonda_mental3">
        <h1>Quiénes Somos</h1>
    <p>Un grupo de todas partes del mundo. Diferentes orígenes, idiomas y gustos: Nos une el
amor al techno, la creación y la buena onda.</p>
    </div>