<div>
  <!--  <div id="logo_fonda"></div> -->
   <div id="imagen1">
    </div>
<div id="fonda_mental1">
    
    <p> 
    Fonda Mental es un proyecto que abarca 3 ramas de la música electrónica </p>
        <ul>
            <li>La producción de eventos</li>
            <li>El sello musical</li>
            <li>Tendencias</li>
        </ul>
     
    <p>
    La idea original fue concebida en el 2015 por un francés y un chileno. Ambos amantes de la música techno y asiduos espectadores de este tipo de eventos, no encontraban creaciones que salieran de lo común. En ese tiempo y luego de varias conversaciones, quisieron fusionar sus experiencias -latina y europea- para crear un concepto innovador en la escena musical del país. <br>
    Así se crearon las producciones de bajo costo, de buena calidad y larga duración en lugares auténticos. Intentando, constantemente, salir de los parámetros tradicionales y democratizar el techno; la idea es que llegue a todas las clases sociales chilenas e internacionales y destacar a diversos artistas, mezclar ramas de estilo musical y crear un concepto propio, diverso y cosmopolita en cada oportunidad.
    <br>
    Fonda Mental quiere demostrar que el techno no es solamente oscuridad, sino también alegría y creación; donde se combina el negro con los colores y la agresividad con el amor para que los bajos fondos estén en plena luz. La idea es desafiar a cada DJ a sobrepasar los límites de su técnica y a los fondamentalistas a romper sus propios esquemas. </p>

    </div>
    <div id="imagen2">
    </div>

    <div id="fonda_mental2">
    <p>
    El origen del nombre proviene de la palabra en francés fondamental (en español fundamental), significado que representa la importancia de este proyecto como aporte a la música electrónica. <br>
    “FONDA” es la fiesta típica del folclore chileno y “MENTAL” tiene que ver con el viaje interior que provoca este estilo musical. <br>
    La combinación de estas dos palabras encaja de manera perfecta con el objetivo de generar identidad a la música electrónica underground en Chile.</p>
    <br></div>
    
<div id="imagen3"></div>
    <div id="fonda_mental3">
        <h1>Quiénes Somos</h1>
    <p>Un grupo de todas partes del mundo. Diferentes orígenes, idiomas y gustos: Nos une el amor al techno, la creación y la buena onda.</p>
    </div>
    
    
</div>

