/* line 2, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
.animateduno {
  animation-duration: 3s;
  animation-fill-mode: both;
}

/* line 7, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
#videointro {
  grid-area: videohome;
  z-index: 100;
  width: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

/* line 18, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
.videologo {
  height: 100vh;
}

/* line 24, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
.backvid {
  width: 100vw;
  z-index: 130;
}

/* line 31, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
#buttonback {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  width: 70%;
  color: #D4D4D4;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 0;
  z-index: 150;
  transition: 0.5s;
}
/* line 47, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
#buttonback h1 {
  font-size: 7vmax;
}
/* line 50, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
#buttonback h2 {
  font-size: 3vmax;
  margin-top: 50px;
}

/* line 59, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
.logoback {
  width: 60%;
}

@media (max-width: 960px) {
  /* line 80, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
  .backvid {
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    z-index: 100;
  }

  /* line 87, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
  .videointro {
    z-index: 100;
    height: 100vh;
  }

  /* line 91, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
  .logoback {
    width: 80%;
  }

  /* line 94, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
  #videologo {
    height: 100vh;
  }

  /* line 97, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/backgroundvid.scss */
  #buttonback {
    margin-top: 30px;
  }
}
