/* line 1, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.socialnet {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . uno dos tres . .";
  align-items: center;
}

/* line 14, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.sim1 {
  grid-area: uno;
}
/* line 16, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.sim1 :hover {
  color: #E9E9E9;
}

/* line 21, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.sim2 {
  grid-area: dos;
}
/* line 23, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.sim2 :hover {
  color: #E9E9E9;
}

/* line 28, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.sim3 {
  grid-area: tres;
}
/* line 30, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.sim3 :hover {
  color: #E9E9E9;
}

/* line 37, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
i {
  color: #bdbdbd;
}

/* line 44, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.main_content {
  background-color: #161616;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  grid-area: main_content;
}

/* line 50, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/footer.scss */
.footer {
  background-color: #1b1b1b;
  grid-area: footer;
  height: 80px;
  width: 100%;
  text-align: center;
}
