/* line 4, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/home.scss */
.proxevent {
  width: 100%;
}
/* line 6, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/home.scss */
.proxevent h1 {
  font-family: 'Chelsea Market', sans-serif;
  font-size: 70px;
  text-align: center;
}

/* line 14, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/home.scss */
.aficheprinc {
  width: 100%;
}
