@media (min-width: 960px) {
  /* line 4, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .info {
    font-family: 'Work Sans', sans-serif;
    grid-column: 1 / 3;
    grid-row: 1;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    text-align: center;
  }

  /* line 14, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #info {
    font-family: 'Work Sans', sans-serif;
    display: block;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
  }

  /* line 25, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion {
    background-color: #2b2b2b;
    color: #dc2626;
    cursor: pointer;
    padding: 18px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* line 38, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .accordion span {
    color: #58e5da;
    font-size: 45px;
  }

  /* line 43, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion {
    background: transparent;
    color: #f2d989;
    cursor: pointer;
    padding: 18px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3vmax;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  /* line 56, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion i {
    margin-top: -20px;
    color: grey;
  }

  /* line 62, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .active .fa-angle-down {
    display: none;
  }

  /* line 66, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #accordion .fa-angle-up {
    display: none;
  }

  /* line 70, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #accordion.active .fa-angle-up {
    display: inline;
  }

  /* line 74, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion:hover i {
    color: #58e5da;
  }

  /* line 78, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #arrow {
    float: right;
  }

  /* line 82, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion i {
    color: black;
    transition: 0.5s;
  }

  /* line 91, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion.active, button#accordion:hover {
    color: #e2e2e2;
  }

  /* line 95, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion.active i, button.accordion:hover i {
    color: #d4d4d4;
  }

  /* line 99, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .info .panel {
    padding: 0 18px;
    margin-top: 0px;
    max-height: 0;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    color: #d4d4d4;
  }

  /* line 110, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel {
    margin: auto;
    width: 80%;
  }

  /* line 115, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel h3 {
    font-size: 40px;
  }

  /* line 119, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel ul {
    font-size: 30px;
  }

  /* line 123, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel h3:nth-child(2) {
    color: #f2d989;
  }

  /* line 128, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel h3:nth-child(3) {
    color: #58e5da;
  }

  /* line 133, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .galeria_princ {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
  }

  @supports (display: grid) {
    /* line 145, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
    .imagen_evento {
      width: 100%;
      margin: auto;
    }

    /* line 149, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
    .galeria_princ {
      text-align: center;
      margin: auto;
    }
  }
  /* line 155, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .galeria {
    padding: 30px 0px 70px 0px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
  }

  /* line 166, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .galeria iframe {
    grid-column: 1 / 3;
    grid-row: 2;
    min-height: 500px;
    width: 100%;
  }

  /* line 173, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imafreefall {
    background-image: url(/assets/free_fall/free_fall13-6c4cb44734a306f4c45daa7a8cf6ba15381a7d2ebe6fa8094ed13804d15630cb.jpg);
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 187, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imalacour {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508265989/lacourdesmiracles/la_cour_des_miracles01.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 196, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imaphysical {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508256929/physical/physical09.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 205, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imatechnorama {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508256868/technorama/technorama18.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 214, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imafemmes {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508256584/femmesfatales/femmes_falates02.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 223, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imaredlight {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508256568/redlight/red_light07.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 232, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imalesannes {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508256461/lesannesfolles/les_annes_folles10.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 241, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imacamino {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508271834/caminomarginal/camino_marginal11.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 250, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imalibera {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508255295/liberamusica/libera_musica12.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 259, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imallamado {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508254745/elllamadodeldesierto/el_llamado_del_desierto_min14.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 268, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imawoods {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508255192/inthewoodsforlove/in_the_woods_for_love09.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 277, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imaflower {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508255042/flowerpower/flower_power20.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 286, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imallamado {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508254635/elllamadodeldesierto/el_llamado_del_desierto14.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 295, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imasintom {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508254250/sintomasdieziocheros/sintomas_dieziocheros08.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 304, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imafuria {
    background-image: url("http://res.cloudinary.com/quetzalss/image/upload/v1508256981/furiapatria/furia_patria16.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 313, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .dosvert {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grit-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  /* line 325, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit {
    height: 30vh;
    background-color: black;
    margin-top: -65px;
  }
  /* line 330, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 96px;
    color: #cccccc;
    padding: 60px 0px;
    text-align: center;
  }

  /* line 340, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit_dos {
    min-height: 30vh;
    background-color: black;
    margin-top: -65px;
  }
  /* line 345, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit_dos h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 90px;
    color: #cccccc;
    padding: 30px 0px;
    text-align: center;
  }
}
@media (max-width: 960px) {
  /* line 358, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .info {
    font-family: 'Work Sans', sans-serif;
    grid-column: 1;
    width: 100%;
    grid-row: 1;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
  }

  /* line 368, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #info {
    font-family: 'Work Sans', sans-serif;
    grid-column: 1;
    width: 100%;
    grid-row: 1;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
  }

  /* line 380, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion {
    background-color: #2b2b2b;
    color: #444;
    cursor: pointer;
    color: #dc2626;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* line 395, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .accordion span {
    color: #58e5da;
    font-size: 3vmax;
  }

  /* line 400, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel h3:nth-child(2) {
    color: #f2d989;
  }

  /* line 405, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel h3:nth-child(3) {
    color: #58e5da;
  }

  /* line 409, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion {
    background: transparent;
    color: #f2d989;
    cursor: pointer;
    padding: 18px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3vmax;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  /* line 422, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion i {
    margin-top: -20px;
    color: grey;
  }

  /* line 429, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .active .fa-angle-down {
    display: none;
  }

  /* line 433, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #accordion .fa-angle-up {
    display: none;
  }

  /* line 437, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #accordion.active .fa-angle-up {
    display: inline;
  }

  /* line 441, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion:hover i {
    color: #58e5da;
  }

  /* line 445, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion.active, button#accordion:hover {
    color: #e2e2e2;
  }

  /* line 449, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #arrow {
    float: right;
  }

  /* line 455, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion.active, button.accordion:hover {
    background-color: #ccc;
  }

  /* line 459, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion.active i, button.accordion:hover i {
    color: black;
  }

  /* line 463, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button.accordion i {
    color: #dc2626;
  }

  /* line 467, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .info .panel {
    padding: 0 18px;
    text-align: left;
    width: 90%;
    overflow: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #d4d4d4;
    transition: 0.4s;
  }

  /* line 481, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel {
    text-align: center;
  }

  /* line 485, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel h3 {
    font-size: 30px;
  }

  /* line 489, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .textopanel ul {
    font-size: 20px;
  }

  /* line 493, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .galeria_princ {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
  }

  /* line 504, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .galeria iframe {
    grid-column: 1;
    width: 100%;
    margin: auto;
    padding: 0px;
    min-height: 200px;
  }

  /* line 512, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imafreefall {
    background-image: url(/assets/free_fall/free_fall13-6c4cb44734a306f4c45daa7a8cf6ba15381a7d2ebe6fa8094ed13804d15630cb.jpg);
    display: none;
  }

  /* line 517, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  #imalacour {
    background-image: url(/assets/la_cour/la_cour04-8f72564e3b8fe2605185562d928c9f9e38a4429d5439fda7c809ad7780e25f44.jpg);
    display: none;
  }

  /* line 522, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .dosvert {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grit-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }

  /* line 536, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit {
    height: 100%;
    background-color: black;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  /* line 543, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit h1 {
    font-family: 'Rubik Mono One', sans-serif;
    width: 100%;
    font-size: 3em;
    color: #cccccc;
    padding: 50px 0px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }

  /* line 557, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit_dos {
    height: 100%;
    background-color: black;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  /* line 565, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .gal_tit_dos h1 {
    font-family: 'Rubik Mono One', sans-serif;
    width: 100%;
    font-size: 3em;
    color: #cccccc;
    padding: 3px 0px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }

  /* line 577, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .galeria {
    padding: 50px 0;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
  }
}
/* line 591, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.galeria img {
  width: 100%;
}

/* line 595, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.galeria_foto {
  width: 100%;
}

/* line 599, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.galerynav {
  width: 100%;
  position: relative;
  bottom: 0;
}

/* line 605, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.afiche {
  width: 100%;
}

/* line 608, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.aficheline {
  margin-top: 50px;
  width: 100%;
}

/* line 613, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.imagen_evento {
  margin-top: 30px;
  text-align: center;
  color: #ADADAD;
  font-family: 'fondamental', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 0;
  padding-bottom: 10px;
  cursor: pointer;
  opacity: 1;
  transition: 0.7s;
}
/* line 623, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.imagen_evento img {
  opacity: 1;
  transition: 0.5s;
}
/* line 628, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.imagen_evento:hover {
  color: #E4E4E4;
}
/* line 633, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
.imagen_evento:hover img {
  opacity: 0.5;
}

@media (min-width: 600px) {
  /* line 640, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  .accordion span {
    color: #58e5da;
    font-size: 30px;
  }

  /* line 645, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/media.scss.erb */
  button#accordion {
    background: transparent;
    color: #f2d989;
    cursor: pointer;
    padding: 18px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border: none;
    outline: none;
    transition: 0.4s;
  }
}
