@media (max-width: 960px) {
  /* line 3, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .repro {
    width: 0px;
    padding: 0;
    margin: 0;
  }

  /* line 9, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .pagina {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "videohome" "navbar" "main_content" "footer";
  }

  /* line 22, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  nav {
    background-color: #070707;
    grid-area: navbar;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "logo" "menu";
    justify-items: center;
    align-content: center;
    z-index: 2000;
  }

  /* line 36, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  #logonav {
    z-index: 2000;
    text-align: center;
  }

  /* line 41, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .logonav {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
    box-sizing: border-box;
    width: 70%;
    grid-area: logo;
  }

  /* line 50, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .repro {
    display: none;
  }

  /* line 54, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menu {
    width: 100%;
    height: 100%;
    background-color: #252525;
    grid-area: menu;
    align-content: center;
    justify-content: center;
    overflow: auto;
  }

  /* line 65, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menu .icon {
    display: block;
    font-size: 5em;
    padding-bottom: 35px;
  }

  /* line 72, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .responsive .itemen {
    display: block;
  }

  /* line 76, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menuitems a {
    display: block;
    height: 53px;
    font-family: 'fondamental', 'Lato', sans-serif;
    color: #bbbbbb;
    text-decoration: none;
    text-align: center;
    padding-top: 28px;
  }

  /* line 87, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menuitems a:hover {
    background-color: #555555;
    color: #E6E6E6;
  }

  /* line 92, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .itemen {
    display: none;
    border-bottom: 1px solid #888888;
    width: 100vw;
  }

  /* line 98, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .responsive .menuitems a, .responsive .menuitems .dropdown, .responsive .menuitems .dropdown .drop-content a {
    display: block;
  }

  /* line 102, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menu a {
    height: 100px;
    display: none;
    width: 100%;
    padding: 60px 0px;
    font-family: helvetica;
    font-size: 1.5em;
    color: #bbbbbb;
    text-decoration: none;
    text-align: center;
  }

  /* line 114, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menu .menuitems a {
    height: 100%;
    padding: 20px 0px;
    font-family: 'fondamental';
    font-size: 35px;
  }

  /* line 122, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropbtn {
    display: block;
    font-family: 'fondamental';
    font-size: 40px;
    color: #cfcfcf;
    background-color: black;
    width: 100%;
    border: 0;
    margin: auto;
    height: 80px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    z-index: -20;
  }

  /* line 139, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropdown {
    height: 100%;
    display: none;
    width: 100%;
    font-family: helvetica;
    font-size: 1.5em;
    color: #bbbbbb;
    text-decoration: none;
    text-align: center;
  }

  /* line 150, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .drop-content {
    display: block;
  }

  /* line 154, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .drop-content a {
    color: #cfcfcf;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
@media (min-width: 961px) {
  @supports not (display: grid) {
    /* line 167, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
    .dropdown .drop-content a, .menuitems a {
      display: inline-block;
      float: left;
    }

    /* line 171, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
    #logonav {
      float: left;
    }

    /* line 174, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
    .repro {
      float: left;
    }

    /* line 177, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
    #audioplayer {
      float: left;
    }
    /* line 179, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
    #audioplayer #timeline {
      float: left;
    }
    /* line 182, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
    #audioplayer #pButton {
      float: left;
    }
  }
  /* line 189, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .repro {
    width: 300px;
    padding-left: 100px;
  }

  /* line 194, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .fixed {
    position: fixed;
    top: 0;
  }

  /* line 199, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .nofix {
    position: static;
  }

  /* line 203, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .navcont {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    -ms-grid-columns: 1fr 70% 1fr;
    -ms-grid-rows: 1fr 80px 1fr 80px;
    grid-template-columns: auto 70% auto;
    grid-template-rows: auto 80px auto 80px;
    margin-top: -10px;
    grid-template-areas: "videohome videohome videohome" "navbar navbar navbar" ". main_content ." "footer footer footer";
  }

  /* line 220, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  nav {
    background-color: #1b1b1b;
    -ms-grid-row: 2 / 3;
    -ms-grid-column: 1 / 4;
    grid-area: navbar;
    z-index: 300;
    display: -ms-grid;
    display: grid;
    height: 80px;
    -ms-grid-columns: 1fr 1fr 4fr;
    -ms-grid-rows: 80px;
    grid-template-columns: 1fr 1fr 4fr;
    grid-row: 80px;
    grid-template-areas: "logo repro menu";
    justify-items: center;
    align-content: center;
    z-index: 300;
  }

  /* line 240, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .logonav {
    padding-top: 0.8em;
    width: 100px;
    -ms-grid-column: 1 / 2;
    -ms-grid-row: 1 / 2;
    grid-area: logo;
  }

  /* line 248, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .repro {
    margin-top: 17px;
    width: 200px;
    -ms-grid-row: 1 / 2;
    -ms-grid-column: 2 / 3;
    grid-area: repro;
  }

  /* line 257, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menu {
    width: 60%;
    margin-right: 90px;
    -ms-grid-row: 1 / 2;
    -ms-grid-column: 3 / 4;
    grid-area: menu;
    display: -ms-grid;
    display: grid;
    height: 80px;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px;
    align-content: center;
    justify-content: center;
    transition: top 0.3s;
  }

  /* line 275, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menu .icon {
    display: none;
  }

  /* line 279, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menuitems a {
    display: block;
    font-family: 'fondamental';
    font-size: 40px;
    color: #cfcfcf;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    padding-top: 15px;
    box-sizing: border-box;
  }

  /* line 291, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropbtn {
    display: block;
    font-family: 'fondamental';
    font-size: 40px;
    color: #cfcfcf;
    background-color: #1B1B1B;
    border: 0;
    height: 80px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    z-index: -20;
  }

  /* line 306, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* line 311, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .drop-content {
    display: none;
    position: absolute;
    background-color: #1B1B1B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  /* line 320, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .drop-content a {
    color: #cfcfcf;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* line 327, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropdown:hover .drop-content {
    display: block;
  }

  /* line 331, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropdown:hover .dropbtn {
    background-color: #555555;
    color: black;
  }

  /* line 336, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .menuitems {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 1fr 1fr 1fr;
    -ms-grid-rows: 80px;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    align-content: center;
    justify-content: center;
  }

  /* line 347, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .media {
    position: relative;
    display: inline-block;
    height: 80px;
    background-color: #323232;
  }
}
/* line 356, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
.menu a:hover {
  background-color: #555555;
  color: black;
}

/* line 361, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
.current {
  color: #ff3b3f !important;
}

@media (max-width: 1350px) {
  /* line 368, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/nav.scss */
  .dropbtn {
    display: block;
    font-family: 'fondamental';
    font-size: 40px;
    color: #cfcfcf;
    border: 0;
    line-height: 30px;
    height: 80px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    z-index: -20;
  }
}
