/* line 10, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/player.scss.erb */
#audioplayer {
  grid-area: player;
  self-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "timeline button";
  align-content: center;
}

/* Play/Pause Button */
/* line 23, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/player.scss.erb */
#pButton {
  display: block;
  height: 60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  grid-area: button;
}

/*
iframe {
    height: 70px;
    width: 20%;
    margin: auto;
}
*/
/*
.cloud {
    text-align: center;
}
*/
/*Classes for play/pause button background*/
/* line 51, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/player.scss.erb */
.play {
  background-color: rgba(171, 139, 97, 0);
  background-image: url(/assets/play-50bd0d8edf70fd722b514669d037b42fbecda153c101ac00d1dc47b5fe9bac26.png);
  position: relative;
  top: -8px;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 72, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/player.scss.erb */
.pause {
  background-color: rgba(171, 139, 97, 0);
  background-image: url(/assets/pause-f9710cbd4928689083169a41b68064e4253795fb898075c8782c9877938c7bae.png);
  position: relative;
  top: -8px;
  animation: fa-spin 2s infinite linear;
}

/* line 80, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/player.scss.erb */
#timeline {
  height: 3px;
  background: rgba(172, 172, 172, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: timeline;
  /*	border-radius: 15px;*/
}

/*Grabable Playhead*/
/* line 92, /Volumes/1T/fonda_mental/pagina/player/music_player/app/assets/stylesheets/player.scss.erb */
#playhead {
  cursor: pointer;
  width: 3px;
  height: 25px;
  margin-top: -11px;
  margin-right: -14px;
  background: #f0f0f0;
}
