/* line 1, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
#descripcion {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  margin: 20px 0px;
}

/* line 8, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
#proxprog {
  font-size: 100px;
  text-align: center;
  margin: 20px 0px;
  margin-top: 80px;
  font-family: 'Changa One', cursive;
}

@media (max-width: 600px) {
  /* line 17, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
  #proxprog {
    font-size: 60px;
    text-align: center;
    margin: 20px 0px;
    margin-top: 80px;
    font-family: 'Changa One', cursive;
  }
}
@media (max-width: 370px) {
  /* line 27, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
  #proxprog {
    font-size: 50px;
    text-align: center;
    margin: 20px 0px;
    margin-top: 80px;
    font-family: 'Changa One', cursive;
  }
}
/* line 36, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
#contacto {
  text-align: center;
  font-size: 60px;
  padding-top: 70px;
  margin: 20px 0px;
}

/* line 43, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
#incluye {
  font-size: 30px;
  margin-top: 70px;
}

/* line 48, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/programa.scss */
.info:last-child {
  padding-bottom: 60px;
}
