@charset "UTF-8";
/* line 5, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.concepto {
  font-family: 'Open Sans', sans-serif;
  color: #D4D4D4;
  width: 80%;
  text-align: justify;
  margin: auto;
  font-size: 1em;
  padding-bottom: 30px;
}
/* line 13, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.concepto h1 {
  font-family: fondamental;
  font-size: 55px;
  text-align: center;
}
/* line 18, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.concepto p  {
  text-align: center;
  width: 30%;
}

/* line 24, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.djbutton {
  display: inline;
}

/* line 28, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.biodj {
  font-family: 'Open Sans', sans-serif;
  color: #D4D4D4;
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 1em;
  padding-bottom: 30px;
}
/* line 36, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.biodj img {
  width: 65%;
  margin: auto;
}
/* line 40, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.biodj h1 {
  font-size: 4vmax;
  text-align: center;
}
/* line 45, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.biodj .soundj {
  text-align: center;
  transition: 0.5s;
  padding-top: 30px;
}
/* line 49, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.biodj .soundj :hover {
  color: #E9E9E9;
}
/* line 53, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.biodj iframe {
  width: 200%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
}

/* line 62, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
#biodjt {
  width: 45%;
  display: inline-block;
  margin: auto;
  text-align: justify;
  padding-top: 40px;
  margin-right: 25px;
}

/* line 71, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.concepto p a, .concepto p a i {
  text-decoration: none;
  color: #f2d989;
  transition: 0.5s;
}
/* line 75, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
.concepto p a:hover, .concepto p a i:hover {
  color: white;
}

@supports (display: grid) {
  /* line 89, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj {
    font-family: 'Open Sans', sans-serif;
    color: #D4D4D4;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 1em;
    padding-bottom: 100px;
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: flex-start;
    grid-template-areas: "titulodj titulodj" "desple desple" "biodj biodj";
  }
  /* line 107, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj .panel {
    grid-area: biodj;
    margin: auto;
  }
  /* line 110, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj .panel .bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  /* line 117, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj .panel .bio #biodj1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
    height: 100%;
    padding-top: 0;
    width: 100%;
  }
  /* line 125, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj .panel .bio #biodj2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 0;
    margin: auto;
    height: 100%;
    width: 100%;
  }
  /* line 135, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj img {
    width: 65%;
    margin: auto;
    display: block;
    grid-area: imagendj;
  }
  /* line 141, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj h1 {
    font-size: 4vmax;
    text-align: center;
    grid-area: titulodj;
  }
  /* line 147, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj .soundj {
    text-align: center;
    grid-column: 1 / 3;
    transition: 0.5s;
    padding-top: 30px;
  }
  /* line 152, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj .soundj :hover {
    color: #E9E9E9;
  }
  /* line 157, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj button {
    text-align: center;
    grid-area: desple;
    width: 100%;
  }
  /* line 163, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj iframe {
    width: 200%;
    height: 100px;
    margin: auto;
    margin-top: 30px;
  }
  /* line 172, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj #biodj1 {
    margin: auto;
    text-align: justify;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    padding-top: 20px;
    grid-area: biodjuno;
  }
  /* line 184, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  .biodj #biodj2 {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: justify !important;
    grid-area: biodjdos;
  }

  @media (max-width: 960px) {
    /* line 199, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj {
      font-family: 'Open Sans', sans-serif;
      color: #D4D4D4;
      width: 80%;
      text-align: center;
      margin: auto;
      font-size: 1em;
      padding-bottom: 100px;
      display: grid;
      align-content: start;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-items: flex-start;
      grid-template-areas: "titulodj" "desple" "biodj";
    }
    /* line 217, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj .panel {
      grid-area: biodj;
      margin: auto;
    }
    /* line 220, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj .panel .bio {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr qfr;
      height: 100%;
      width: 100%;
      justify-content: center;
    }
    /* line 227, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj .panel .bio #biodj1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: auto;
      height: 100%;
      padding-top: 0;
      width: 100%;
    }
    /* line 235, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj .panel .bio #biodj2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding-top: 0;
      margin: auto;
      height: 100%;
      width: 100%;
    }
    /* line 244, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj .panel .soundj i {
      text-align: center;
      width: 100%;
      margin: auto;
      transition: 0.5s;
      padding-top: 30px;
    }
    /* line 250, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj .panel .soundj i :hover {
      color: #E9E9E9;
    }
    /* line 255, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj img {
      width: 100%;
      margin: auto;
      grid-area: imagendj;
    }
    /* line 260, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj h1 {
      font-size: 5vmax;
      text-align: center;
      grid-area: titulodj;
    }
    /* line 268, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
    .biodj iframe {
      width: 100%;
      height: 100px;
      margin: auto;
      margin-top: 30px;
    }
  }
  /* line 279, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  #biodj1 {
    margin: auto;
    text-align: justify;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    grid-area: biodjuno;
  }

  /* line 290, /Volumes/1T/fonda_mental/pagina/player/fonda_mental/app/assets/stylesheets/records.scss */
  #biodj2 {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify !important;
    padding-top: 20px;
    grid-area: biodjdos;
  }
}
