<audio id="music" preload="true" autoplay >
  <source src="/audios/1.mp3">
  <source src="4.ogg">
</audio>
<div class="repro">



    <!--Audio Player Interface-->
    <div id="audioplayer">
      <div id="timeline">
        <div id="playhead"></div>
      </div>
      <button id="pButton" class="pause"></button>
    </div>

    </div>
