

<div id="videointro">
    <button id="buttonback" onclick="videoback()"><%= image_tag("fonda_blanco.png", class: "logoback") %></button>
    <video loop muted autoplay preload poster="http://res.cloudinary.com/quetzalss/image/upload/v1508345828/video/videback.png" class="backvid">
        <source src="http://res.cloudinary.com/quetzalss/video/upload/v1508345714/video/videobackbaja.mp4" type="video/mp4">
        
</video>
</div>

<div class="main_content" style="overflow:scroll;color:white;">
<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344863430&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>

