<% @title = "Home" %>

<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
    <div class="proxevent" style="color:#D4D4D4;">
        <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <div class="imagen_evento">
                    <h1>Fiesta: 9 de Marzo 2018</h1>
                    <h1>Festival: 6-8 de Abril 2018</h1>
                </div>
            </div>
    </div>

    <div class="imageslide">
        <div class="imagen_home2"></div>
    </div>

    <div class="homecloud">
        <h1 class="homepodcast">Nuestros Podcasts</h1>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/363696887&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/366870704&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div> 

    

</div>