<% @title = "Home" %>

<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
    <div class="proxevent" style="color:#D4D4D4;">
        <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <div class="proxfecha">
                        <a target="_blank" href="https://www.facebook.com/events/1921446101504125/"><%= cl_image_tag("afiches/abracadabra.jpg" , class: "aficheprinc") %></a>
                                <p id="contacto">Entradas: <br> <a target="_blank" href="https://api.whatsapp.com/send?phone=56997733315&text=Hola,%20quiero%20entradas%20para%20abracadabra%20"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 9773 3315</a></p>
                                <p id="descripcion">"La magia es un puente que te permite ir del mundo visible hacia el invisible. Y aprender las lecciones de ambos mundos" <br> - Paulo Coelho</p>
                                <hr>
                    <h1>Festival: 6-8 de Abril 2018</h1>
                </div>
            </div>
    </div>

    <div class="imageslide">
        <div class="imagen_home2"></div>
    </div>

    <div class="homecloud">
        <h1 class="homepodcast">Nuestros Podcasts</h1>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/397056894&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/388592058&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/383645801&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/378365171&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/374727311&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/370514738&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/363696887&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/366870704&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe> -->
    </div> 

    

</div>