

<div class="main_content" style="color:white;">
    <div class="proxevent">
        <%# <h1>Proximo Evento</h1> %>
        <%= cl_image_tag("afiches/free_fall" , class: "aficheprinc") %>
        <div class="textoevnthome">
                <h3 id="fechaprox">16/07/17</h3>
                <h3 id="dondeprox">Club Greta, Bellavista, Santiago</h3>
                <div class="line_up">
                    <%# <h3>Line Up</h3> %>
                    <p><%= render 'vinilicon' %> Alejandro Paz – Santiago/Chile</p>
                    <p><%= render 'vinilicon' %> Jean Madry – Paris/Francia</p>
                    <p><%= render 'vinilicon' %> Inerte – Paris/Francia</p>
                </div>
                 
            </div>
    </div>
</div>