

<div class="main_content" style="overflow:scroll;color:white;">
    <div class="proxevent">
        <h1>Próximo Evento</h1>
        <%= cl_image_tag("afiches/free_fall" , class: "aficheprinc") %>
        <p></p>
    </div>
</div>