

            <div class="panel sidebio">
    <div class="bio">
       <h1>DENIROSTER (PARIS)</h1>
        <%= cl_image_tag("records/deniroster/deni_perfil.jpg", class: "galerynav") %>
            <p id="biodj1"> Con influencias deep-house desde el periodo crucial de los 90, Adrien aka Deniroster llegó a Paris a
                        los 18 años y empezó a mezclar en clubes como le Sens, le Cafe du Trésor, la Cantine du Faubourg,
                        le Pershing Hall. Su música es selectiva y se orienta a diferentes estilos como el down-tempo, pasando
                        por el el broken beat.</p>
            <p id="biodj2"> Siempre ha sido ecléctico y eso lo ha llevado a tocar en famosos clubs y festivales en España y Croacia, como en el reputado
                        The Garden festival. Desde el año 2016 que se vive en Chile y ha tocado en diferentes clubs nacionales
                        como Nave Luna, Industria y también en Valparaíso Su 20 años como DJ profesional en Europa y su fina
                        selección de deep lo hacen un elemento en Fonda Mental de suma importancia.
            </p>
    </div>

   <%= link_to 'https://soundcloud.com/deniroster', class: ["soundj"], :target => '_blanc' do %>
                    <i class="fa fa-soundcloud fa-3x" aria-hidden="true"></i>
                    <% end %>
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407794173&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        <iframe class="soundbio" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302129831&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                        <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/300978324&amp;color=%23b1684c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>