<div class="panel sidebio">
    <div class="bio">
        <h1>JEAN MADRY (PARIS/FRANCIA)</h1>
        <%= image_tag("jeanmadry.jpg", class: "galerynav") %>
            <p id="biodj1"> DJ francés e Ingeniero en Sonido que actualmente vive en Santiago. Proveniente del movimiento underground de
                la capital francesa. Su larga carrera le vio pasar por muchos lugares distintos, desde las fiestas más escondidas
                a clubes en París, Berlín o Suiza como Batofar, Tacheles, La Scène Bastille o La Java. Su música fue siempre
                influenciada por DJ como John Acquaviva, Juan Atkins, Derrick May, pero especialmente Richie Hawtin que es
                su mentor.</p>
            <p id="biodj2">Ha compartido el escenario con Electric Rescue, Chloé o Pepperpot entre otros. Más recientemente toco en Santiago
                en Nave Luna y Fonda Mental, convirtiéndose en Residente de este último gracias a su gran talento y experiencia,
                además de su gran aporte como productor musical. Su música es muy personal con mucho carácter; es un mezcla
                entre minimal, house y techno con bajos profundo y embriagadores.
            </p>
    </div>

    <%= link_to 'https://soundcloud.com/jeanmadry', class: ["soundj"], :target => '_blanc' do %>
        <i class="fa fa-soundcloud fa-3x" aria-hidden="true"></i>
        <% end %>
            <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/366870704&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/336396064&amp;color=%23b1684c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/336168157&amp;color=%23b1684c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/336167778&amp;color=%23b1684c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315094027&amp;color=%23b1684c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>