<div class="panel sidebio">
    <div class="bio">
        <h1>LISA CROPP (ALEMANIA)</h1>
        <%= image_tag("http://res.cloudinary.com/quetzalss/image/upload/v1/lesannesfolles/les_annes_folles11", class: "galerynav") %>
            <p id="biodj1"> Lisa Cropp comenzó su pasión por la música tocando piano por más de 10 años, interpretando a compositores como
                Beethoven y Mozart en su natal isla Föhr (Alemania). Cuando cumplió la mayoría de edad se mudó a realizar
                sus estudios superiores en la ciudad de Hamburgo, donde comenzó a asistir a fiestas electrónicas undergorund
                y además participar en cursos de producción de música. El año 2015 aterriza en Chile, donde de inmediato
                comienza a participar en la organización de las fiestas electrónicas con la productora Fonda Mental, trabajando
                mano a mano junto con los productores con el objetivo de reforzar el movimiento Techno en Chile.</p>
            <p id="biodj2">Un punto de inflexión de su vida en Chile es cuando decide formarse como Dj profesional para aportar desde la
                parte artística al proyecto, participando actualmente como DJ residente. En su corta carrera ha tocado en
                distintas fiestas electrónicas de Santiago de Chile, tal como “Undernights”, “La Pipol”, “Industria” y “Radicales”.
                Además ha participado de las fiestas Terraza Nomade en Valparaiso. Con su propia marca de fiestas “Ajna”
                propone fiestas electrónicas con experiencias con todos los sentidos y entregar la visualización creativa,
                la conexión con el ojo del alma. Una de las primeras influencias de música electrónica fueron Ellen Allien,
                estilo Minimal Tech, Minimal House y Paul Kalbrenner, estilo Minimal Techno, Techno. Sus DJs influyentes
                son Oliver Huntemann, Basti Grub, Oliver Koletzki.
            </p>
    </div>

    <%= link_to 'https://soundcloud.com/lisacropp', class: ["soundj"], :target => '_blanc' do %>
        <i class="fa fa-soundcloud fa-3x" aria-hidden="true"></i>
        <% end %>
            <iframe class="soundbio" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344863430&amp;color=%23676767&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320806818&amp;color=%23b1684c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>