<div class="panel sidebio">
    <div class="bio">
        <h1>Okin (Francia)</h1>
        <%= cl_image_tag("records/okin/okin_perfil.jpg", class: "galerynav") %>
            <p id="biodj1"> Al comienzo de los años 90 en Francia, Okin descubre la cumbre de la musica electronica. Su primera rave es una
                revelacion, el elijio añadirse al movimiento como DJ y despues como organizador de eventos. Su carrera toma
                un giro seguido con varios encuentros en el extranjero como el legendario Mike Banks (Underground Resistance/Detroit
                – USA) y tambien Luciano (Cadenza – Chile) con quien comparte cabinas en Santiago como en el club Blondie. A su vuelta en Paris en 2005, Okin crea las fiestas « Plastic », que se realizaron en los clubes mas prestigiosos
                de la capital : Rex Club, Batofar, Nouveau Casino… Naturalemente,</p>
            <p id="biodj2">el label Plastic Rec nace al poco tiempo
                despues y produce bajo su nombre referentes del underground house y techno como Damian Wild, Gary Martin
                y Claro Intelecto entre otros. El año 2017 marca la vuelta de DJ Okin en la escena internacional. Ahora artistas
                multi-facetas, se une al proyecto Fonda Mental y participa activamente del desarollo de la musica electronica
                en Chile. Influenciado desde joven por la House music y la techno de Detroit, su linea de base incontrolable,
                hacen erizar los pelos hasta de los mas lampiños. Sus mentores son artistas como Carl Craig, Moodyman o Derrick
                May.
            </p>
    </div>
    <iframe class="soundbio" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/370514738&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>