
<div class="concepto">
    <h1>Fonda Mental Records</h1>
<p>La creación de esta rama de Fonda Mental, nos ha permitido agrupar DJs de diferentes estilos, que
sin embargo, comparten la misma visión musical que nosotros. <br>
Ellos mezclan y producen sonidos originales con una calidad técnica de alto nivel. Para lograr esto, se
dedican a buscar, crear y/o modificar melodías novedosas y así generar una identidad musical propia.
Los resultados son sets armoniosos, potentes y personales que salen de lo común.
Las experiencias de ellos y el gran conocimiento de la vida nocturna mundial, los hacen promisorios
actores de la escena electrónica del pais. <br>
Más allá del arte sonoro, para los residentes es muy importante la conexión –emocional y física– con
el público. Así, sus auditores se posicionan como un elemento principal del proceso artístico, como su
motor de la inspiración. Esa es la razón por la que sus sets son espontáneos y están en constante
evolución dependiendo de la atmósfera del evento. <br><br>
Como Fonda Mental, ofrecemos la posibilidad de contratar a nuestros DJs para que toquen en sus
producciones. Un sistema de sonido de alta calidad será un punto primordial en la elección de
eventos donde participarán nuestros artistas.
<br><br>
Contacto: <br>Javier Salinas <br> <a href="tel:+569 8185 2306"> <i class="fa fa-whatsapp" aria-hidden="true"></i> +56 9 5728 1256</a>
<br>
<a href="mailto:fondamental@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Fondamental.records@gmail.com</a></p>
</div>

