<div class="dj">
    <div class="biodj">

        <h1>JEAN MADRY (PARIS/FRANCIA)</h1>
        <%= image_tag("jeanmadry.jpg") %>
            <p id="biodj1"> DJ francés e Ingeniero en Sonido que actualmente vive en Santiago. Proveniente del movimiento underground de
                la capital francesa. Su larga carrera le vio pasar por muchos lugares distintos, desde las fiestas más escondidas
                a clubes en París, Berlín o Suiza como Batofar, Tacheles, La Scène Bastille o La Java. Su música fue siempre
                influenciada por DJ como John Acquaviva, Juan Atkins, Derrick May, pero especialmente Richie Hawtin que es
                su mentor. </p>
            <p id="biodj2">Ha compartido el escenario con Electric Rescue, Chloé o Pepperpot entre otros. Más recientemente
                toco en Santiago en Nave Luna y Fonda Mental, convirtiéndose en Residente de este último gracias a su gran
                talento y experiencia, además de su gran aporte como productor musical. Su música es muy personal con mucho
                carácter; es un mezcla entre minimal, house y techno con bajos profundo y embriagadores. https://soundcloud.com/jeanmadry</p>
    </div>



    <div class="biodj">
        <h1>LISA CROPP (ALEMANIA)</h1>
        <%= image_tag("http://res.cloudinary.com/quetzalss/image/upload/v1/lesannesfolles/les_annes_folles11") %>
        <p id="biodj1"> Lisa Cropp comenzó su pasión por la música tocando piano por más de 10 años, interpretando a compositores como Beethoven
            y Mozart en su natal isla Föhr (Alemania). Cuando cumplió la mayoría de edad se mudó a realizar sus estudios
            superiores en la ciudad de Hamburgo, donde comenzó a asistir a fiestas electrónicas undergorund y además participar
            en cursos de producción de música. El año 2015 aterriza en Chile, donde de inmediato comienza a participar en
            la organización de las fiestas electrónicas con la productora Fonda Mental, trabajando mano a mano junto con
            los productores con el objetivo de reforzar el movimiento Techno en Chile. 
        </p>
        <p id="biodj2">
            Un punto de inflexión de su vida en
            Chile es cuando decide formarse como Dj profesional para aportar desde la parte artística al proyecto, participando
            actualmente como DJ residente. En su corta carrera ha tocado en distintas fiestas electrónicas de Santiago de
            Chile, tal como “Undernights”, “La Pipol”, “Industria” y “Radicales”. Además ha participado de las fiestas Terraza
            Nomade en Valparaiso. Con su propia marca de fiestas “Ajna” propone fiestas electrónicas con experiencias con
            todos los sentidos y entregar la visualización creativa, la conexión con el ojo del alma. Una de las primeras
            influencias de música electrónica fueron Ellen Allien, estilo Minimal Tech, Minimal House y Paul Kalbrenner,
            estilo Minimal Techno, Techno. Sus DJs influyentes son Oliver Huntemann, Basti Grub, Oliver Koletzki.
        </p>
    </div>



    <div class="biodj">
        <h1>DENIROSTER (PARIS)</h1>
        <%= image_tag("http://res.cloudinary.com/quetzalss/image/upload/v1/lacourdesmiracles/la_cour_des_miracles17") %>
        <p id="biodj1"> Con influencias deep-house desde el periodo crucial de los 90, Adrien aka Deniroster llegó a Paris a los 18 años y
            empezó a mezclar en clubes como le Sens, le Cafe du Trésor, la Cantine du Faubourg, le Pershing Hall. Su música
            es selectiva y se orienta a diferentes estilos como el down-tempo, pasando por el el broken beat. 
        </p>
        <p id="biodj2">
            Siempre ha
            sido ecléctico y eso lo ha llevado a tocar en famosos clubs y festivales en España y Croacia, como en el reputado
            The Garden festival. Desde el año 2016 que se vive en Chile y ha tocado en diferentes clubs nacionales como Nave
            Luna, Industria y también en Valparaíso Su 20 años como DJ profesional en Europa y su fina selección de deep
            lo hacen un elemento en Fonda Mental de suma importancia https://soundcloud.com/deniroster
        </p>
    </div>
</div>