
.animateduno {
    animation-duration: 3s;
    animation-fill-mode: both;
  }

#videointro {
  
    grid-area: videohome;
    z-index: 100;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }

  .videologo {
    height: 100vh;
  

  }
  
  .backvid {
  
    width: 100vw;
    
    z-index: 130;
  }

  #playbut {
    background: transparent;
    border: rgb(240, 209, 35) 5px solid;
    color: #D4D4D4;
    padding: 10px;
    font-size: 2vmax;
    transition: 0.5s;
    
    &:hover {
      border: rgb(255, 115, 0) 5px solid;
      color: yellow;
      cursor: pointer;
    }
  }

  .reproduc {
    border: rgb(255, 115, 0) 5px solid;
    color: yellow;
  }

  #buttonback {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    width: 70%;
    color: #D4D4D4;
    
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 0;
    z-index: 150;
    transition: 0.5s;
    h1 {
      font-size: 7vmax;
    }
    h2 {
      font-size: 2.5vmax;
      margin-top: 50px;
    }
    
  }



  .logoback {
    
    width: 60%;
  }
  
  
  // @media (min-aspect-ratio: 16/9) {
  //   .backvid {
  //     height: 300%;
  //     top: -100%;
  //   }
  // }
  
  // @media (max-aspect-ratio: 16/9) {
  //   .backvid {
  //     width: 300%;
  //     left: -200%;
  //   }
  // }
  
  @media (max-width: 960px) {
    .backvid {
      height:100vh;
      object-fit: cover;
      overflow: hidden;
        z-index: 100;
      }

      #playbut {
        display: none;
      }
      
    .videointro {
      z-index: 100;
      height: 100vh;
    }
    .logoback {
      width: 80%;
    }
    #videologo {
      height: 100vh;
    }
    #buttonback {
      margin-top: 30px;
    }
  }