.socialnet {
  text-align: center;
  padding: 1rem 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  ". . uno dos tres . ."
  ". . cuatro cuatro cuatro . ." ;
  align-items: center;

}



.sim1 {
  grid-area: uno;
  transition: 0.5s;
  :hover {
    color:#E9E9E9;
  }
}

.sim2 {
  grid-area: dos;
  transition: 0.5s;
  :hover {
    color:#E9E9E9;
  }
}

.sim3 {
  grid-area: tres;
  transition: 0.5s;
  :hover {
    color:#E9E9E9;
  }
}

.contact {
  grid-area: cuatro;
  font-family: 'Work Sans', sans-serif;
  a {
    text-decoration: none;
    color: #f2d989;
    transition: 0.5s;
    &:hover {
      color:#E9E9E9;
    }
  }
  
}



i {
  color: rgb(189, 189, 189);
}




.main_content {
  background-color: rgb(22, 22, 22);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  grid-area: main_content;
  z-index: 0;
}

.footer {
  background-color: rgb(27, 27, 27);
  grid-area: footer;
  height: 130px;
  width: 100%;
  text-align: center;
}

@media (max-width: 960px) { 
  .main_content {
    background-color: rgb(22, 22, 22);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    grid-area: main_content;
    padding-top: 200px;
    z-index: 0;
  }
 }
