// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.proxevent {
    width: 100%;
    // padding-top: 30px;
    font-family: 'Work Sans', sans-serif;
    color:#D4D4D4;
    h1 {
        font-size: 7vmax;
        margin-top: 0;
        margin-bottom: 0;
    }
    .homepodcast {
        font-size: 5vmax;
        text-align: center;
    }
}
.afichevalores.aficheprinc {
    padding: 70px 0;
    padding-top: 0px;
    margin-top: 0px;
    
}

#valores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    div {
        #contacto {
            margin-top: -50px;
            font-size: 2vmax;
        }
    }
}

.imagen_home1 {
    background-image: url('http://res.cloudinary.com/quetzalss/image/upload/v1512944927/fotos_home/home1.jpg');
    height: 300px;
    // background-position: 0px -40px;
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.imagen_home2 {
    background-image: url('http://res.cloudinary.com/quetzalss/image/upload/v1512944927/fotos_home/home2.jpg');
    height: 300px;
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepodcast {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vmax;
    margin-top: 0;
}

.aficheprinc {
    margin-bottom: -80px;
    width: 100%;
}
.owl-carousel{
    position: relative;
  }
.owl-carousel .afiche-slide{
height: 450px;
}
.owl-carousel div a img {
    display: block;
    width: 100%;
    height: auto;
}

.textoevnthome {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    .proxfecha {
        h1 {
            font-family: 'fondamental', sans-serif;
            font-size: 70px;
            text-align: center;
        }
        video {
            width: 100%; 
            margin-bottom: 30px;
            display: block;
        }
    }
    .imagen_evento img {
        max-height: 300px;
        width: auto;
    }
    #fechaprox {
        font-size: 100px;
        text-align: center;
        margin: 20px 0px;
        font-family: 'Changa One', cursive;
    }
    #dondeprox {
        text-align: center;
        font-size: 60px;
        padding-top: 70px;
        margin: 20px 0px;
    }
    #ultimo {
        text-align: center;
        font-size: 60px;
        color: #58E5DA;
        padding-top: 40px;
        margin: 10px 0 -50px 0;
    }
    .line_up {
        width: 70%;
        text-align: center;
        margin: auto;
        padding-top: 40px;
        font-size: 2vmax;
        .texto {
            margin: 50px 0;
        }
        p {
            margin: 5px 0px;
        }
        h3 {
            margin: 0 0 40px 0;
            font-size: 60px;
        }
    }
    #contacto {
        font-family: 'Work Sans', sans-serif;
            font-size: 4vmax;
        a {
            text-decoration: none;
            color: #f2d989;
            transition: 0.5s;
            i {
                color: #f2d989;
            }
            &:hover {
                color:#ffffff;
            }
        }
    }
}

hr {
    width: 60%;
    background: transparent;
}

.homecloud {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    iframe {
        width: 70%;
        height: 100px;
        margin: auto;
        margin-bottom: 50px;
    }
}
@media (max-width: 1200px) { 
    .owl-carousel .afiche-slide{
        height: 450px;
        }
}
@media (max-width: 960px) { 
    .owl-carousel .afiche-slide{
        height: 400px;
        }
    .imagen_home1 {
        margin-top: 40px;
    }
    .textoevnthome {
        .proxfecha {
            video {
                display: block;
            }
        }
    }
}
@media (max-width: 700px) { 
    .owl-carousel .afiche-slide{
        height: 300px;
        }
}
@media (max-width: 600px) { 
    #valores {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        div {
            #contacto {
                margin-top: 0px;
                font-size: 5vmax;
            }
            #contacto:nth-of-type(2) {
                margin-top: -50px;
                font-size: 5vmax;
            }
        }
    }
    .owl-carousel .afiche-slide{
        height: 250px;
        }
}
@media (max-width: 500px) { 
    .owl-carousel .afiche-slide{
        height: 200px;
        }
}
@media (max-width: 400px) { 
    .owl-carousel .afiche-slide{
        height: 150px;
        }
}
