// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.proxevent {
    width: 100%;
    h1 {
        font-family: 'Chelsea Market', sans-serif;
        font-size: 70px;
        
        text-align: center;

    }
}
.aficheprinc {
    width: 100%;
}