@media (max-width: 960px) {

  .repro {
    width: 0px;
    padding: 0;
    margin: 0;
  }

  .pagina {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    "navbar"
    "main_content"
    "footer";
  }

  nav {
    background-color: rgb(50, 50, 50);
    grid-area: navbar;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "logo"
    "menu";
    justify-items: center;
    align-content: center;
  }

  #logonav {
    text-align: center;
  }

  .logonav {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
    box-sizing: border-box;
    width: 70%;
    grid-area: logo;
  }

  .repro {
    display: none;
  }

  .menu {
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
    grid-area: menu;
    align-content: center;
    justify-content: center;
    overflow: auto;
  }

  
  .menu .icon {
    display: block;
    font-size: 5em;
    padding-bottom: 35px;
  }


  .responsive .itemen  {
    display: block;
  }

  .menuitems a  {
    display: block;
    height: 53px;
    
    font-family: 'Lato', sans-serif;
    color: rgb(187, 187, 187);
    text-decoration: none;
    text-align: center;
    padding-top: 28px;
  }

  .menuitems a:hover {
    background-color: rgb(85, 85, 85);
    color: #E6E6E6;
  }

  .itemen {
    display: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 100vw;
  }

  .responsive .itemen {
    display: block;
  }

  .menu a {
    height: 100px;
    display: none;
    width: 100%;
    padding-top: 60px;
    font-family: helvetica;
    font-size: 1.5em;
    color: rgb(187, 187, 187);
    text-decoration: none;
    text-align: center;
  }


}

@media (min-width: 961px) {

  .repro {
    width: 300px;
    padding-left: 100px;
  }

  .pagina {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto 70% auto;
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
    "navbar navbar navbar"
    ". main_content ."
    "footer footer footer";
  }

  nav {
    background-color: rgb(50, 50, 50);
    grid-area: navbar;
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr 4fr;
    grid-row: 80px;
    grid-template-areas:
    "logo repro menu";
    justify-items: center;
    align-content: center;
  }

  .logonav {
    padding-top: 0.8em;
    width: 100px;
    grid-area: logo;
  }

  .repro {
    margin-top: 17px;
    width: 200px;
    grid-area: repro;
  }


  .menu {
    width: 60%;
    margin-right: 90px;
    grid-area: menu;
    display: grid;
    height: 80px;
    grid-template-columns: 1fr ;
    grid-template-rows: 80px;
    align-content: center;
    justify-content: center;
    transition: top 0.3s;
  }

  .menu .icon {
    display: none;
}

  .menuitems a  {
    display: block;
    height: 53px;
    font-family: 'Lato', sans-serif;
    color: rgb(187, 187, 187);
    text-decoration: none;
    text-align: center;
    padding-top: 28px;
  }

  .menuitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    align-content: center;
    justify-content: center;
  }


    .media {
        position: relative;
        display: inline-block;
        height: 80px;
        background-color: rgb(50, 50, 50);
    }
    

    
  
}

.current {
  background-color: rgb(85, 85, 85);
  color: #E6E6E6;
}

.menu a:hover {
  background-color: rgb(85, 85, 85);
  color: #E6E6E6;
}







