@media (max-width: 960px) {

  .repro {
    width: 0px;
    padding: 0;
    margin: 0;
  }

  .pagina {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    "navbar"
    "main_content"
    "footer";
  }

  nav {
    background-color: rgb(50, 50, 50);
    grid-area: navbar;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "logo"
    "menu";
    justify-items: center;
    align-content: center;
  }

  #logonav {
    text-align: center;
  }

  .logonav {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
    box-sizing: border-box;
    width: 40%;
    grid-area: logo;
  }

  .repro {
    display: none;
  }

  .menu {
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
    grid-area: menu;
    align-content: center;
    justify-content: center;
    overflow: scroll;
  }

  
  .menu a.icon {
    display: block;
    font-size: 6em;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  
  .menu.responsive a.icon {
    
    
  }
  .menu.responsive a {
    height: 100px;
    display: block;
    text-align: center;
  }

  .itemen {
    display: none;
  }

  .menu a {
    height: 100px;
    display: none;
    width: 100%;
    padding-top: 60px;
    font-family: helvetica;
    font-size: 1.5em;
    color: rgb(187, 187, 187);
    text-decoration: none;
    text-align: center;
  }

//    .menu div {
//        height: 60px;
//    }

 
    
  .dropdown {
        display: none;
        
    }
    
    .media {
        
        display: none;
        height: 150px;
        color: rgb(187, 187, 187);
    }
    
    #dropi {
        width: 100%;
        height: 160px;
        background-color: rgb(37, 37, 37);
        grid-area: menu;
        align-content: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .dropdown_content a {
        height: 60px;
        display: none;
        width: 100%;
        font-family: helvetica;
        font-size: 1.5em;
        color: rgb(187, 187, 187);
        text-decoration: none;
        text-align: center;
        padding-top: 28px;
        text-decoration: none;
    }


}

@media (min-width: 961px) {

  .repro {
    width: 300px;
    padding-left: 100px;
  }

  .pagina {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto 70% auto;
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
    "navbar navbar navbar"
    ". main_content ."
    "footer footer footer";
  }

  nav {
    background-color: rgb(50, 50, 50);
    grid-area: navbar;
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr 4fr;
    grid-row: 80px;
    grid-template-areas:
    "logo repro menu";
    justify-items: center;
    align-content: center;
  }

  .logonav {
    padding-top: 0.8em;
    width: 100px;
    grid-area: logo;
  }

  .repro {
    margin-top: 17px;
    width: 200px;
    grid-area: repro;

  }


  .menu {
    width: 70%;
    margin-right: 10px;
    grid-area: menu;
    display: grid;
    height: 80px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px;
    align-content: center;
    justify-content: center;
    transition: top 0.3s;
  }

  .menu .icon {
    display: none;
}

  .menu a {
    display: block;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: rgb(187, 187, 187);
    text-decoration: none;
    text-align: center;
     padding-top: 28px;

  }


  // .menu li:nth-child(1) {
  //   padding-top: 50px;
  // }
  //


    .dropdown {
        background-color: rgb(50, 50, 50);
        border: 0;
        display: block;
        height: 100%;
        width: 100%;
        font-family: 'Lato', sans-serif;
        color: rgb(187, 187, 187);
        text-align: center;
        font-size: 1.1em;
        cursor: pointer;
        
    }
    
    .media {
        position: relative;
        display: inline-block;
        height: 80px;
        background-color: rgb(50, 50, 50);
    }
    
    #dropi {
        display: none;
        position: absolute;
        background-color: rgb(50, 50, 50);
        width: 100%;
        
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown_content a {
        color: rgb(187, 187, 187);
        text-decoration: none;
        display: block;
        height: 40px;
        width: 100%;
        text-align: center;
    }
    
    .media:hover #dropi {
    display: block;
}
    
    
  
}

.menu a:hover {
  background-color: rgb(85, 85, 85);
}

#dropi a:hover {
	background-color: rgb(85, 85, 85);
}



.media:hover .dropdown {
	background-color: rgb(85, 85, 85);
}

