<% @title = "Playlist | Kata Mercado - Si te he visto, no me acuerdo" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Kata Mercado - Si te he visto, no me acuerdo<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Dax J - Opressor</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/yO_CmXrFLfs?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Joe Farr - Don't Be Afraid</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/VIjc7YLjW3g?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Kata Mercado - Universe Collapses</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/NeDBj3aHXD4?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Tim Tama - Ephemeral</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/XIRbebmWifM?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Hound Scales - Odile</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/gZYw_9B8ZiM?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Anetha - Acid Train)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/XHyr6oBu5K8?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Chané - Embrace</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/GePLlIG_O7A?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Ike Dusk - Decoded Identity (Matrixxman Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/EaC913clURY?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. FJAAK - Plan A</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/0v4M24ydeAc?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. The Crystal Method - Trip Like I Do</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/hfUSyoJcbxU?list=PL20dlvW-TELxUnAYOSCLXJL4EW5-SBhwz" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
