<% @title = "Playlist | DJ Haiti - A blast from the past (music para viajar al pasado)" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>DJ Haiti - A blast from the past (music para viajar al pasado)<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Andromeda - Andromeda</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/DdCTH75QUpE?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Saada Bonaire - You could be more as you are</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/ULlI8C5c-qY?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Rah Band - Message from the Stars</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/b425ftP_8XQ?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Tullio de Piscopo - Temptation</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/UDi6Z7axF-w?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Soreng Santi (สรวง สันติ) - Kuen Kuen Lueng Lueng</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/At8Zwo2myZc?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Louis Kennedy - Poo Yai Lee</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ofrbj6bwTZs?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Los Destellos - Onsta la yerbita</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/f-_xgHGQJNQ?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Miriam Makeba - Xica Da Silva</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/Z9xweLhpVcs?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Lucio Battisti - Amarsi un po' (Luca C & Brigante remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/NV_nasSLa0U?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Z (Mort Garson) – Climax One</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/nH8AsDLG56w?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
