<% @title = "Playlist | Camilo Gil - Para bailar con tu sombra (quien más te conoce)" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Camilo Gil - Para bailar con tu sombra (quien más te conoce)<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Ricardo Villalobos - 808 The Bassqueen</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/qzL9xn2fjDQ?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. 808 State - Pacific State</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/6jQ_bOP0HfY?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Underworld - Dark & Long</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/NwRMLpxjt58?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Jedi Knights - Catch The Break</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/UZInkFjcG0s?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Nick Holder - Soul Baby Soul</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/PUwlfFOxn8g?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. ONE + 1 & Camilo Gil - WHALE [Bla Bla One]</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/D4y4udfjvDQ?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Blake Baxter - When We Used To Play</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/w2X-j9nygxk?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Lucien-N-Luciano - Alain Brito</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/3mI_2ZEJlXg?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Sade - Surrender Your Love (Kenny Larkin Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/RxfnBhwc9xg?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. KB Project - Feel it</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/hRBcLoX2MHQ?list=PL20dlvW-TELxthC1wb_0HRwRE0NJJzkpS" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
       
        
    </div>
