<% @title = "Playlist | 512 TR - Resultados Sexuales" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>512 TR - Resultados Sexuales<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. DEEE LITE - What is Love</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/zD71055315c?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Azari & III - Into The Night</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/HrCb5i_ddi4?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Jimmy Edgar - LET YRSELF BE</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/1xPfApkFgI8?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Ralphi Rosario - I Want You (Extended Latin Version)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/hyHe-jIu36Y?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Lil Louis ‎– French Kiss</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/CgOsg5vhwFY?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Symphony Hall - One Night Stand (feat. Jay Norton)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/1DoOSFUpvdE?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Chromeo - Don't turn the lights on (Riton & DJ Mehdi remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/zrRNuLGIGmo?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Blake Baxter - Work It</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/CSvlsdWc4pE?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. MICHAEL E - RACE</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/HX77dv6iNAs?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Miguel Bose - Amante Bandido</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/rJxvmA1J1to?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Track: OutKast - Prototype</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/uqhJfjbNuQg?list=PL20dlvW-TELzMH02bcuyWCYIocXiD4Lmq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
