<% @title = "Playlist | On Wax - Abya-Yala" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>On Wax - Abya-Yala<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Valentina - No les creo nada</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/nszRBgpKkNk?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Hell0 - Ele nao/dando/</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/yq4LlQHhsxY?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Dj Loui - Taste the floor</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/Gmn-6uwS2CE?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Fenomenología del deseo - Rosas 2016</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/Ev65Ve5mUEg?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Bad Mix - Club Moire</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/TBveRK3oPDc?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Martinelli - Put on Yall Jacket</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/YKEDEQ9cK6k?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. SO(sol ortega) - Inmersa</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/61cS7drBW24?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Francisco Arellano - Sassa</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/fasdCB5mNFo?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Francisco Arellano - Tomasa</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/h09Uv0fC5JA?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Joaquin Ruiz - Magnetism</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/oYh1PYjtapE?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Track: Rare Silk - Storm (Polifonik dub)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/OZpLnnP_t7o?list=PL20dlvW-TELx-Q8BRXoQE00VHr2mI1kS5" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
