<% @title = "Playlists" %>

<div class="info playlink">
    <%= link_to "Inerte - Camino Porteño", playlist_inerte_camino_porteno_path %>   
</div>

<div class="info playlink">
    <%= link_to "Theo Merca - Cuando Salga el Sol", playlist_cuando_sale_el_sol_path %>   
</div>