<% @title = "Playlists" %>

<div class="info playlink">
    <%= link_to "Escobar Gallardo [Ojosbiencerraos] - Observatorio Pacifico de Drops", musica_playlist_observatorio_pacifico_de_drops_path %>   
</div>

<div class="info playlink">
    <%= link_to "Theo Merca - Cuando Sale el Sol", musica_playlist_cuando_sale_el_sol_path %>   
</div>

<div class="info playlink">
    <%= link_to "Inerte - Camino Porteño", musica_playlist_inerte_camino_porteno_path %>   
</div>



