<% @title = "Playlist | Ortega - Enfant Home" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Ortega - Enfant Home<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Herbert & Dani Siciliano - Going Round [Phonography]</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/RjUnO0BKZMA?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Markus Sommer - Galaxy Diaries (Suicide Mix)</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/JPLlwelqMxo?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Rockers to Rockers - What a Life</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/7LRoeGflrwg?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Booba - Temps mort</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/cRXkmmI7k6Y?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Voice Stealer - Unintentional</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/iod6dpPNwwI?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Cignol - Public Expenditure</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/KB-mXsYHNVY?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Kamasutra - Running Away (Blue Sky Version)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/E_7IAoZ8PN4?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Ascendant - Tom Churchill</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/qXGUAIa9bwo?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Impossible Beings - Sunset Over Brixton Beach (Terry Francis Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/y3cCXyPON1w?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Nohelani Cypriano - Lihue</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/IdBBxgVETHo?list=PL20dlvW-TELz41HD5Yz4QuJPSl75BM0A2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
