<% @title = "Playlist | Erika - Angustia" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Erika - Angustia<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Slowdive - Miranda (Love Me) - Pygmalion Demos</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/1Pnh-ycoVcQ?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Delia Derbyshire - Bach's Air (Extended)</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/ZOC7Pf1XY54?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. The Ballad of the Broken Birdie Records (Ruxpin Remix II)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/IP446kkAFm0?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Joy Division - Decades</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/PMAB3r6EjcM?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Tears for Fears - Advice for the Young at Heart</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/KSRBD9N4VUs?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Edith Piaf - Paris</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/lMoSxYoV7cI?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Aurora Halal - Just Tell Me</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/W7xv_0FAW2A?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Fingers Inc - Never No More Lonely</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/bYltX0zjG-c?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. RAMONES - I Just Want To Have Something To Do</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/sPYGCxco56I?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. I:Cube - Hnt</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/dc76jjmT66g?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Track: Edward Artemiev - Solaris Theme</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/M_vi67SHU4E?list=PL20dlvW-TELzRXNlIGc_PIj1A0O-m3mYo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
