<% @title = "Playlist | Diegors - Dance Italiana Lover" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Diegors - Dance Italiana Lover<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Baby's Gang - Jamin</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/OB4WVHyxfiQ?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Video Club - Lost Time</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/z4hVIYku7l4?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Fun Fun - Baila Bolero</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/FVDhKVDSGB8?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. My Mine - Hypnotic Tango</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/gHvA0QFDoVY?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. I.M.S. - Dancing Therapy</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/vCz7rF52aQ4?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. 'Lectric Workers - Robot Is Systematic</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/WEXZc3MWaP0?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Casco - Cybernetic Love (Instrumental)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/c6x5vyWpw-Q?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Cyber People - Void Vision</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/cKjsTlxf80k?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Jonathan Gable - Central Park</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/_QjrT0pjM90?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Alexander Robotnick - Les grands voyages de l'amour</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/3ZEYv0J76yA?list=PL20dlvW-TELzPGxInd4K05xfpbx1MEbfg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
