<% @title = "Playlist | Marie Coiffure - Yo también escucho pequeñas voces en mi cabeza!" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Marie Coiffure - Yo también escucho pequeñas voces en mi cabeza!<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Donna Summer - I Feel Love</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/Nm-ISatLDG0?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Steffi - Yours [feat.Virginia]</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/xsYiGTft-EE?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Kat Williams - That Track By Kat</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/tM5PE9C2jww?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Acid Bitchez - Thinking About Acid (Joeski Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/OMGz-ymt_1s?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Traumprinz - Good Vibrations (Kasha's Main Vocal Mix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/74Ku5zkPbbg?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. KZA - Le Troublant Acid</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/-ht9O-z52Pg?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Paranoid London Feat Paris Brightledge - Dub 1</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/3uh1GZifkT0?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Boot & Tax - Acido</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/4zyl_9WQd64?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Gui Boratto - Beautiful Life</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/YFoJM2tTFlY?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Charlie - Spacer Woman</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/eglu23iGsU0?list=PL20dlvW-TELxfwd8Tn_N1bTCBR6nlYL2k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
