<% @title = "Playlist | Sarnival - Techno is the Answer" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Sarnival - Techno is the Answer<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Untold - Motion The Dance</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/45vd72jSB00?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Surgeon - The Crawling Frog Is Torn And Smiles</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/PFlORHRkoSk?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. 2000 and One - Tropical Melons</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/1dY90nEZWHI?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Ambivalent - Cyclone</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/po-cKRPjw8E?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Flug - Space Buildings</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/vs5ig5fYYKI?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Robert Hood - The Bond We Formed</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/I0ZMv-o1yh8?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Planetary Assault Systems - Dungeon (Ø [Phase] Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/L2neMx7XaYk?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Ø [Phase] - Submerged Metropolitan</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/AyeicBl3KFE?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Dark Manoeuvres - Envoy</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ZUORI2u2G4o?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Envoy - Dark Manoeuvres (Dax J Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/BdY5o7-k2mc?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Remix: Envoy - Dark Manoeuvres (Slam Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/cyIxFpo4pRE?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Remix: Envoy - Dark Manoeuvres (Tensal Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/-SQBwJN2cI0?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
