<% @title = "Playlist | Mario Bross - Funk on the Table" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Mario Bross - Funk on the Table<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Angelo Ferreri - Papa's Dance</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/MO0O_HCWelE?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Tete De La Course - Something About This</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/RkPjKkXFv3U?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Kevin McKay - The Oooh Song</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/6dgo2KUSeCg?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Alaia & Gallo featuring Kevin Haden - Who Is He (Claptone Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/SLNqxQXMV1w?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Vanilla Ace - Ghetto Track ft. Enrique Ramil</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/kv3b0WsMgAc?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Cambis & Wenzel ft. Debbi Blackwell - Cook ‘Prescription For Life’ (C&W Extended Mix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/crgeZA-2GXU?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Martin Waslewski - Clouds (Purple Disco Machine Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/5KHPbAy5BMg?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Patrizio Mattei & Danny Omich - Marlena Loop</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ijprOSp0J9k?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. David Penn - Nobody</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/seIYwexOZBU?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Sante Sansone - Open Space</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/zkgzXHxVwH4?list=PL20dlvW-TELx9zRshXEx2WJYKNaM9jvJq" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
