<% @title = "Playlist | Chand'l Moraless - Electronical Kinf of Blues" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Chand'l Moraless - Electronical Kinf of Blues<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Dominik Eulberg - Oleanderschwärmer</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/a5do2lvsRis?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. No Blues - The Clock</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/5Zfh20R2IIA?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Cascandy - Escapade Escapade // Monaberry</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/t6tmJ1R-4M4?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Tocadisco - No Blues</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/vfc9m2WrVJk?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Daniel Steinberg - Cry All Night</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/lwKNYlQtYus?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Ucef - Skinny Blues</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/RxD7UDLqGbw?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Martin Eyerer - Pianoroll (Ramon Tapia Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/Qbcm2XbBg64?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Rock On The Moon - Damien K. Sahri, Velvet </h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/G_5S9G4EkLY?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Wareika - Kings Child</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/8ugeAoxyTzg?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Wolfgang Riechmann & Streetmark - Dreams</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/g-1suhHJru0?list=PL20dlvW-TELwwgMyrDcCVXTvnzCBiWHkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>11. Glimpse - Stealing - Nina</h2>
                <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/113785071&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            </div>
        </div>
    </div>
       
        
    </div>
