<% @title = "Playlist | Inerte - playlist" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Inerte - Camino Porteño<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div class="imagen_evento">
            <div>
                <h2>1. Street Corner Symphony- street Corner Symphony (1995)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/dZDnC17uWmA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Ottmar Liebert - Havana Club (the latin mix)</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/sn-BJOdyfIA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. The Cartridge Family - First Revusal (subvert)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/8ag07t3qGko" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Doubtingthomas- Just Saying</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ODzu7eYmbQg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Barac & Lyonel Bauchet - Buchla Market</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/OyNvyUHlMpA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Yuda - Her Smile</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/-qcl5LtQSgA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Triptil - Filin</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/hUAvQ7QQY7g" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Macarie - Fake Steps</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ONm5pt4GIV8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Morane - Kalumpung a Kalimku</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/HWHD816BKDQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Post Industrial Boys - Post Industrial Boys</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/5crJRozGCt0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
       
        
    </div>
