<% @title = "Playlist | Dj 11undo - El Fundo" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Dj 11undo - El Fundo<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. wAFF - Wormhole</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/9OrFaeKzKj4?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Sidney Charles - Phoenix</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/8fYAAXLs8NU?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Ki Creighton, Makanan - Trivial</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/j3mvBvq6aHE?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Bontan - Personal Question</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/LBj3iGImm2s?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Dennis Ferrer ft. Sagine - Bubbletop (DF's Bubble Wrapped Mix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/i0nPgfWLN3o?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Blackchild (ITA) - A Bit Housy</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ntdMDTLYBiQ?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Mendo & Yvan Genkins - The Volume</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/0aJU7CovY3o?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. DAVI - Illusion</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/4qy9rf5zfqg?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Nu, Alejandro Castelli, Canu - Mariposa</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/IatHP80zla8?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Pattern Drama - Ubud</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/yVPZGR9sNPY?list=PL20dlvW-TELw9zIqwQP5ILbifcYxpjxwA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
