<% @title = "Playlist | Quetzal - Looking for the Deep" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Quetzal - Looking for the Deep<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Seuil - Freakin 4</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/X-G3sGDH3Ik?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Two Lone Swordsmen - Glide By Shooting</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/mR7uMAbEITs?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Cape - Funkey</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/yCTneqFCwrs?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. So Inagawa - Logo Queen</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/jvGm_vZmBTg?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. A Scott & Chad- Mrs J (Cab Drivers Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/oFZlWPXjCa4?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Phazer - Little Something</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/muZR57K9jrA?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. So Inagawa - Fukushima</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/BMgf8fpKPWY?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Sweely - Stronger Than Me</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/xVXdWIA4NoI?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Franck Roger - Feel It</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/7Yh9CdyP0fs?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Djebali - Hunting Back</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/FYzXCCJdCeU?list=PL20dlvW-TELxEzCdMwYSf7VV0tl_UDJM8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
       
        
    </div>
