<% @title = "Playlist | Escobar Gallardo [Ojosbiencerraos] - Observatorio Pacífico de Drops" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Escobar Gallardo [Ojosbiencerraos] - Observatorio Pacífico de Drops<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1.Dominik Eulberg - Oleanderschwärmer</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/AxGRbrez9VE?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2.Född Död - De Ensammas Hus</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/mHbTLTjPiK4?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3.Pulso - Algún Pasado Irremediable</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/0_WqpMdIOeE?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4.Vakula - Maskull's First Day On Tormance</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/7SbN1Bc7Zms?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5.Christian Wunsch - Third Synthesis</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/-Gl05nNYE64?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6.Rune Bagge - Five Elements</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/8VSBRYPI7YY?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7.Milena Glowacka - Trascend</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ulOzErzHM_c?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8.Marcelus - Magnet </h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/LP_ZG8F7yxY?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9.Robert Lippok - All Objects are Moving</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/5TpDgXArPOY?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10.Evigt Mörker - Ett Sinne Av Stål </h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/yy7LrnjGGyk?list=PL20dlvW-TELz9GeqBMLh9ZKtH6KA8BjqU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
       
        
    </div>
