<% @title = "Playlist | Cherry - ¿Salgamos?" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Cherry - ¿Salgamos?<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Men I Trust - Aquarelle</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/xlAFKj06Qq4?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Quasar - I Never Tought I'd See The Day</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/zMY8WPsSSUk?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Peach - Geralds Game</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/HveTZdQS_h8?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Genius of Time - Voxshot</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/Hn4NyU8zyBY?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Crystal Waters - Gypsy Woman (She's Homeless)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/_KztNIg4cvE?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Mr. G - Dark Thoughts?</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/QnL6paXnn2U?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Yaeji - Guap</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/QjTrnKAcYjE?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Rex The Dog - Hold It/Control It</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/xMtWlSD_gTw?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Wolfram - Automatic Dub</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/2KUzAIUyP9M?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Floorplan - Mmm Hmm Hmm</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/RDUJUKuc5HA?list=PL20dlvW-TELwRqKeLdgCiTcyrlq2ElG54" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Track: Men I Trust - Humming man</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/cc6JAwM29_Y?list=PL20dlvW-TELyGaBhY-g5Pg4-giHcAU3Qt" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
