<% @title = "Playlist | Dj 11undo - El Fundo" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Lisa Cropp - Listo de Pensar: Tausendundeine Nacht<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Alef - Sol</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/F3Bar3rty_4?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Amentia - Miracle D'Hwange (Armen Miran Remix)</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/RlqQQQO5EbY?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Sahalé - Middle Eastern Promises</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/8AYbmWGRW-s?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Armen Miran & Hraach - Aldebaran</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/WU_ws0Di6wI?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Sébastien Léger - La Danse Du Scorpion</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/TWxfG-G0aIA?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Anton Dhouran - Osmekha (Ruede Hagelstein Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/7qIcRTsAHLU?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Sahalé - Nlreb Mra Alrrih</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/9H3lCYKNC8o?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Armen Miran, Hraach - Mysterious World (Url Nrk Dub)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/iDaW5Q1ctNM?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Ruede Hagelstein, Lilly, Kazan - Bir Alem</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/TSGccQM5_Qk?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Radiq - Eastern Hemisphere (Thomas Melchior's ethno dub remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/CmWuyChcgxA?list=PL20dlvW-TELzDr2WzAVhKThMHjd7M7eqf" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
