<% @title = "Playlist | Black Flamingo Disco Driver - Music from Outer Space" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Black Flamingo Disco Driver - Music from Outer Space<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Super Lover - RENA SCOTT</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/3-P8H7a5qBc?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Awake O Zion - Twinkie Clark</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/i4bn78VNX6k?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Tantra A Place Called Tarot - Idjut Boys Re Edit</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/89cMMiB1IGM?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. T.J.M. - Small Circle Of Friends</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/O89Uo8Ukar0?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Shaun Escoffery - Days Like This ( Spinna & Ticklah Club Mix )</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/uAQcFPJ1Fc0?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Zoom - Space Rescue (I-F Rework)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/q8RobQIE3Cc?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Alfredo Action! - Full Piano Mix</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ixydKshJe2c?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Larry Heard Presents Mr. White - The Sun Can't Compare</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/tdIQTEYXDP4?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Masalo - Cycles</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/84LIra_FsNs?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Holographic Planes - Drums Across Death</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/OwQBVWSP2f4?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>Bonus Track: Khidja - Never Seen The Dunes (Discodromo Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/9wmQFgH5O34?list=PLLOadkuEcetahTHQ2Fbur8bMdaaWL5G1J" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
