<% @title = "Playlist | Theo Merca - Cuando Sale el Sol" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>Theo Merca - Cuando Sale el Sol<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Michael Jackson - Wanna Be (KiRiK Edit)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/U_956ibIaRE?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Rochenoire - A Lil' Fun</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/xpfGAKIE_Y0?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. Octave - Dilema</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/zvj__sPZoxM?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Octave - Alexandra Alexandre</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/3H4duBZR6Dk?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. FJAAK - Small Gadget</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/BTf1Dl3TwgM?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Rhadow - Fragments</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/02_6lIkDN74?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Ivel Tax - House Feeling</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/L0tK7mXa2ks?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Ultra Naté - Free (Mood II Swing Vocal Mix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/gxj2Hk9toG4?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Makam - New York Hustler</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/1K5hDvWU6dQ?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. Moondog - Lush (The Melt Mix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/VRKB0JRiWkI?list=PL20dlvW-TELygxMKYRxr52SZLgrwJJlBv" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
       
        
    </div>
