<% @title = "Playlist | NeM - La Caminata Nocturna en el Bosque" %>

 <h1 class="playlist-nombre"><%= render 'playlist/vinilicon' %>NeM - La Caminata Nocturna en el Bosque<%= render 'playlist/vinilicon' %></h1>

<div class="panel vid">
    <div class="videosyou playlist">
        <div id="subscribe-you">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UC1UwfABu_Yotd3CSfApdU3Q" data-layout="full" data-count="default"></div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>1. Nicola Cruz - Invocacion</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/HO2LChdIUuQ?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
         <div class="imagen_evento">
            <div>
                <h2>2. Bedouin - Bufo</h2>
                <iframe width=90% height="auto" src="https://www.youtube.com/embed/qYt5nVCO3ww?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>3. VIKEN ARMAN - Sireli</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/aHYlMQwnnrE?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>4. Nufrequency feat Ben Onono - Fallen Hero (Motor City Drum Ensemble Remix)</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/4r3OJxt1Ipk?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>5. Laurence Guy - Saw You For The First Time</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/ChyJYQgpgrU?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>6. Kollektiv Turmstrasse - Tristesse</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/kw1NCddhvJQ?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>7. Lake People - Point in Time</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/A2jhjLiGLbc?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>8. Floating Points - Montparnasse</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/vqabexdUVGA?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>9. Burial & Four Tet - Moth</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/rxhhN4dN2JY?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="imagen_evento">
            <div>
                <h2>10. S A Y C E T - Dream Factory</h2>
                <iframe width="90%" height="auto" src="https://www.youtube.com/embed/fPsF9aGLRYQ?list=PL20dlvW-TELwvDuzTTwh1FAFvCDs22c-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
